# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Logs
*.log
logs/

# Build / dist
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
.history/

# Temporary files
*.bak
*.tmp
